<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회사 소개</title>
<style>
/* 추가적인 스타일링을 위한 CSS 코드 */
/* 예: 이미지 중앙 정렬 */
.logo-container {
	text-align: center;
	margin-top: 20px;
}

/* 내용 스타일링 */
.intro-container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	font-size: 25px; /* 글씨 크기 조정 */
}
</style>
</head>
<body>
	<header>
		<h1>회사 소개</h1>
	</header>

	<main>
		<div class="logo-container">
			<img src="/kkbERP_logo.png" alt="회사 로고">
		</div>
		<div class="intro-container">
			<p>빈스ERP 프로젝트에 오신 것을 환영합니다.</p>
		</div>
	</main>


</body>
</html>
